*{
	padding: 0px;
	margin: 0px;2
}
h1{
	color: skyblue;
	text-align: center;
	border:1px solid black;
	height: 50;
	width: auto;
	background-color: yellow;
}
img{
	border-radius: 40px;
	margin:10px 40% ; 
}
a:hover{
	color: red;
	font-size: 20px;
}
a{
	color: white;
}

#lnks{
	align-items: center;
	text-align: center;
	border:2px solid black;
	width: 250px;
	align-content: center;
	margin-left: 42%;
	background-color: #ffb3ff;
	padding: 5px 5px 5px 5px;
}
#aim{
	font-size: 24px;
	color: white;
	background-color: #ff80b3;
	height: auto;
	width: 100%;
}
